<br/><br/><br/>
<div class="container text-center">
    <div class="card">
        <div class="card-body">
            <h1>Kullanıcı Bulunamadı</h1>
            <hr />
            <p>Maalesef aradığın kullanıcıyı bulamadım. Lütfen kullanıcı adını doğru yazdığından emin ol ve yeniden bulmaya çalış.</p>
            <a href="/">Geriye Dön</a>
        </div>
    </div>
</div>